pkgbase = vpkmerge-cli-bin
	pkgdesc = Combine multiple Valve Pak (.vpk) mods into one (Deadlock modding; CLI, prebuilt)
	pkgver = 0.19.1
	pkgrel = 1
	url = https://github.com/Slush97/vpkmerge
	arch = x86_64
	license = MIT
	depends = gcc-libs
	provides = vpkmerge-cli
	conflicts = vpkmerge-cli
	source = vpkmerge-cli-0.19.1::https://github.com/Slush97/vpkmerge/releases/download/v0.19.1/vpkmerge-linux-x86_64
	source = LICENSE-0.19.1::https://github.com/Slush97/vpkmerge/raw/v0.19.1/LICENSE
	sha256sums = 22c302e4a9ddf75712b8d65708ac291c9b2016ea828a7f5b4ed96e93b0b24b39
	sha256sums = 00b2f40961e16423ce60d95c9087bde5bc5a2ed7d078312a56c54f0452863d19

pkgname = vpkmerge-cli-bin
